
@{
    ViewBag.Title = "menu";
}

<h2>menu</h2>
<p><a href="http://localhost:54642/Home/board" class="btn btn-primary btn-lg">Play &raquo;</a></p>
<p><a href="http://localhost:54642/Home/config" class="btn btn-primary btn-lg">Setup &raquo;</a></p>


