

@{
    ViewBag.Title = "AccountSignIn";
}

<body>
    <h2>Account Sign In</h2>

    <section class="login_section">
        <p>
            Name:
            <input type="text"
                   class="login_name"
                   placeholder="Enter your name">
        </p>

        <p>
            Password:
            <input type="text"
                   class="login_password"
                   placeholder="Enter your password">
        </p>

        <button class="login_button">
            Login
        </button>

        <p>
            <a href="http://localhost:54642/Home/HomeRoot" class="btn btn-primary btn-lg">Sign in &raquo;</a>
        </p>
    </section>

    @Scripts.Render("~/bundles/phwang_js")
    @Scripts.Render("~/bundles/AccountSignInJs")
</body>
