
@{
    ViewBag.Title = "AccountRoot";
}

<h2>AccountRoot</h2>
<p><a href="http://localhost:54642/Account/AccountSignUp" class="btn btn-primary btn-lg">Sign up &raquo;</a></p>
<p><a href="http://localhost:54642/Account/AccountSignIn" class="btn btn-primary btn-lg">Sign in &raquo;</a></p>

