
@{
    ViewBag.Title = "AccountSignUp";
}

<body>
    <h2>Account Sign Up</h2>

    <section class="login_section">
        <p>
            Name:
            <input type="text"
                   class="login_name"
                   placeholder="Enter your name">
        </p>

        <p>
            Password:
            <input type="text"
                   class="login_password"
                   placeholder="Enter your password">
        </p>

        <p>
            email:
            <input type="text"
                   class="login_email"
                   placeholder="Enter your email">
        </p>

        <button class="login_button">
            Sign up
        </button>

        <p>
            <a href="http://localhost:54642/Home/HomeRoot" class="btn btn-primary btn-lg">Sign up &raquo;</a>
        </p>
    </section>

    @Scripts.Render("~/bundles/phwang_js")
    @Scripts.Render("~/bundles/account_sign_up_js")
</body>
