
@{
    ViewBag.Title = "GoRoot";
}

<h2>GoRoot</h2>
<p><a href="http://localhost:54642/go/goplay" class="btn btn-primary btn-lg">Play &raquo;</a></p>
<p><a href="http://localhost:54642/go/gosetup" class="btn btn-primary btn-lg">Setup &raquo;</a></p>

